<div class="ch-col--xs-6 ch-col--md-4">
  <a href="/who-we-are/our-partners/bott/" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/bott-logo.png" alt="" />
  </a>
</div>
<div class="ch-col--xs-6 ch-col--md-4">
  <a href="/who-we-are/our-partners/lightfoot/" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/lightfoot-logo.png" alt="" />
  </a>
</div>
<div class="ch-col--xs-6 ch-col--md-4">
  <a href="/who-we-are/our-partners/fta-van-excellence" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/fta-logo.png" alt="" />
  </a>
</div>
<div class="ch-col--xs-6 ch-col--md-4">
  <a href="/who-we-are/our-partners/bcf-wessex/" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/bcf-wessex-logo.png" alt="" />
  </a>
</div>
<div class="ch-col--xs-6 ch-col--md-4">
  <a href="/who-we-are/our-partners/aa/" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/aa-logo.png" alt="" />
  </a>
</div>
<div class="ch-col--xs-6 ch-col--md-4" class="block block--our-partners center">
  <a href="/who-we-are/our-partners/arnold-clark-insurance-services/" class="block block--our-partners center">
    <img class="logo" src="/assets/images/content/logos/acis-logo.png" alt="" />
  </a>
</div>
