<div class="pagination">
  <div class="ch-container">
    <div class="ch-row">
      {% if paginator.previous_page and paginator.next_page %}
        <div class="ch-col--xs-12 ch-col--md-4 ch-col--md-push-4 pagination__page-no">
          <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </div>
      {% endif %}

      {% if paginator.previous_page %}
        {% if paginator.next_page %}
          <div class="ch-col--xs-6 ch-col--md-4 ch-col--md-pull-4">
            <a href="{{ paginator.previous_page_path | remove: 'index.html' }}" class="activa-btn activa-btn--pagination">Previous</a>
          </div>
        {% else %}
          <div class="ch-col--xs-6 ch-col--md-4">
            <a href="{{ paginator.previous_page_path | remove: 'index.html' }}" class="activa-btn">Previous</a>
          </div>
        {% endif %}
      {% endif %}

      {% if paginator.next_page %}
        {% if paginator.previous_page %}
          <div class="ch-col--xs-6 ch-col--md-4 text-right">
            <a href="{{ paginator.next_page_path | remove: 'index.html' }}" class="activa-btn activa-btn--pagination">Next</a>
          </div>
        {% else %}
          <div class="ch-col--xs-12 ch-col--md-offset-8 ch-col--md-4 text-right">
            <a href="{{ paginator.next_page_path | remove: 'index.html' }}" class="activa-btn">Next</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
