<blockquote class="testimonial">
  <p>Hörmann sought the advice of Activa in order to begin the introduction of improved processes to advance cost efficiency within their business. Activa identified that significant savings could be made by simply re-evaluating the need for fully expensed private fuel.</p>

  <footer>
    <cite class="testimonial__citation">
      <span class="testimonial__name">Paul Eadie</span>
      <span class="testimonial__company">Company Secretary at Hörmann</span>
    </cite>
  </footer>
</blockquote>