<blockquote class="testimonial">
  <p>Activa really understand the nature of our business and know what is particularly important to us. There is strength in depth in their team and it is nice not having to explain everything every time I call them. They know me and they know our fleet; sometimes I don't even have to say who I am - it actually feels as if they are an extension of my own team.</p>

  <p>I am very happy with the Activa service support; they are very quick to respond. Inevitably things do go wrong from time to time, but they are always resolved promptly - it is quite impressive that their management always seem to know what is going on at the sharp end.</p>

  <footer>
    <cite class="testimonial__citation">
      <span class="testimonial__name">Jenny Hunt</span>
      <span class="testimonial__company">Office Services Manager at MacIntyre Care</span>
    </cite>
  </footer>
</blockquote>