<blockquote class="testimonial">
  <p>Activa carried out several employee workshops at the various company sites throughout the UK, demonstrating the driver website and looking at the vehicle selection process. Activa was also able to illustrate the cost savings and benefits to employees should they wish to join the scheme.</p>

  <footer>
    <cite class="testimonial__citation">
      <span class="testimonial__name">Lisa Johnson</span>
      <span class="testimonial__company">Fleet Manager at Sumitomo</span>
    </cite>
  </footer>
</blockquote>