<blockquote class="testimonial">
  <p>Activa is very helpful and responsive and I know that if an urgent issue arises it will get sorted without fuss and when I need information it will be supplied quickly and accurately. Our policy requires Activa to compete on an ongoing basis with our other suppliers and the fact that their vehicles now make up such a substantial part of our fleet demonstrates how successful they have been.</p>

  <footer>
    <cite class="testimonial__citation">
      <span class="testimonial__name">Jan Henry</span>
      <span class="testimonial__company">Fleet Controller at Toyota Material Handling UK Limited</span>
    </cite>
  </footer>
</blockquote>